.footer {
    background-color: #19410A;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 10px;
    margin-top: 5rem;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15rem;
}

.left_footer {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.left_footer .button {
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    color: #185601;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: 45rem; 
    border: 1px solid #185601;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left_footer .button:hover {
    background-color: #185601;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.right_footer {
    padding-top: 50px;
    display: flex;
    gap: 3rem;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.mini_footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: start;
    width: 50%;
    height: 100%;
}

.mini_footer .footer_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: #ffffff;
}

.mini_footer .footer_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    gap: 1rem;
}

.mini_footer .list {
    font-size: 1rem;
    font-weight: lighter;
    color: #ffffff;
    cursor: pointer;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 1024px) {
    .footer {
        height: auto;
        padding: 20px;
    }
    .left_footer{
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .right_footer {
        width: 100%;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .mini_footer {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 15px;
    }

    .left_footer .button {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }
    .mini_footer{
        width: 100%;
    }
    .mini_footer .footer_title {
        font-size: 1.2rem;
    }

    .mini_footer .list {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 10px;
    }

    .left_footer .button {
        font-size: 0.8rem;
        padding: 0.3rem 0.6rem;
    }

    .mini_footer .footer_title {
        font-size: 1rem;
    }

    .mini_footer .list {
        font-size: 0.8rem;
    }

}
@media (max-width: 375px) {
    .footer {
        flex-direction: column;
        padding: 10px;
    }
    .left_footer {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .right_footer {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .mini_footer {
        width: 100%;
    }
    
}