.banner {
    background-size: cover;
    background-position: center;
    margin-top: 7rem;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    position: relative;
}

.banner__content {
    z-index: 1;
}
.banner__content .title {
    font-size: 3rem;
    font-family: 'Inter';
    font-weight: bold;
    margin-bottom: 1rem;
    color: #185601;
}
.banner__content .sub_title {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight:lighter;
    color: #185601;
}
.banner__content .button {
        background-color: #ffffff;
        padding: 0.5rem 1rem;
        color: #185601;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
        border-radius: 45rem; 
        border: 1px solid #185601;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
.banner__content .button:hover {
        background-color: #185601;
        color: #ffffff;
}

@media (max-width: 768px) {
    .banner__content .title {
        font-size: 2rem; /* Smaller font size for mobile */
    }

    .banner__content .sub_title {
        font-size: 0.875rem; /* Smaller font size for mobile */
    }

    .banner__content button {
        padding: 0.5rem 0.75rem; /* Adjust padding for mobile */
        font-size: 0.875rem; /* Smaller font size for mobile */
    }
}

@media (max-width: 480px) {
    .banner__content .title {
        font-size: 1.5rem; /* Even smaller font size for very small screens */
    }

    .banner__content .sub_title {
        font-size: 0.75rem; /* Even smaller font size for very small screens */
    }

    .banner__content button {
        padding: 0.5rem 0.5rem; /* Adjust padding for very small screens */
        font-size: 0.75rem; /* Even smaller font size for very small screens */
    }
}